rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /indicators/{indicatorId} {
      allow read, write: if true;
    }
    match /spi_notes/{noteId} {
      allow read, write: if true;
    }
  }
}
